.heading {
  position: relative;
  font-weight: 600;
  text-transform: inherit;
  cursor: pointer;

  &::before {
    content: "#";
    position: absolute;
    bottom: 50%;
    transform: translate(-120%, 50%);
    cursor: pointer;
    opacity: 0;
    font-family: var(--font-nunito);
    transition: opacity 80ms linear;
    font-size: 0.7em;
    font-weight: 200;
  }
  &:hover {
    text-decoration: underline;
  }
  &:hover::before {
    color: var(--text-muted);
    font-weight: 700;
    opacity: 1;
  }
}

.card {
  padding: 8px;
  text-align: center;
  width: 100%;
  min-height: 100px;
  margin-inline: auto;
  overflow: visible;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  :global {
    & .cardContent {
      min-height: 200px;
      // position: relative;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    & .indicatorContainer {
      margin: auto;
      order: 1;
    }

    & .variantsWrapper {
      display: block;
      // margin-block: auto;
      max-width: 150px;
      box-sizing: border-box;

      display: grid;
      order: 2;
      align-self: stretch;
    }

    & .variantsContainer {
      width: 100%;
      margin-block: auto;
      min-height: 86%;
      padding: 8px;
      padding-inline-start: 16px;
      font-size: 0.6625rem;

      display: inline-flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-left: 1px solid #eeeeee;

      @media (max-width: 400px) {
        display: none;
      }
    }
  }
}

.githubLnk {
  text-decoration: none;
  color: #ffffff;
  background-color: #1a212e;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px 15px;
  transition:
    transform 500ms ease-out,
    background-color 150ms ease-out;

  &:hover {
    background-color: #0e121a;
    transform: scale(1.03);
  }
}

.tip {
  border: 2px solid #0cab0c;
  border-radius: 5px;
  background-color: #f1fff1;
  padding: 8px 15px;
}
