.indicatorBtnsContainer {
    --items-border: 0.8px;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    // justify-items: center;
    padding: var(--items-border);
    grid-gap: var(--items-border);
    position: relative;
    isolation: isolate;
    border-radius: 4px;

    &::after {
        content: "";
        background-color: #2d3748;
        background-color: hsl(from #2d3748 h s l / 0.06);
        position: absolute;
        border-radius: 4px;
        z-index: -10;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        backdrop-filter: blur(10px);
    }
}
.indicatorBtnItem {
    background-color: var(--rli-palette-common-white, var(--white-soft));
    box-shadow:
        inset rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        inset rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    &.active {
        outline: 2px solid;
        outline-offset: 5px;
    }
}
