body {
    background-color: #002b8721 !important;
}
.react-colorful {
    position: absolute !important;
    z-index: 15;
    bottom: 100%;
    left: 0;
}
.select-absolute {
    position: absolute !important;
    bottom: 100%;
    left: 0;
}
